@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fffaff;
    --secondary: #423E3B;
    --accent: #ffffff;
    --main: #30d2ff;
    --maintwo: #43ff59;
    --mainthree: #ff5757;
}

html {
    height:100%;
}

button[data-saving="true"] {
    cursor: wait;
    content: "Saving...";
}

button[data-saved="true"] {
    cursor: default;
    content: "Saved!";
}

button[data-saved="false"] {
    cursor: pointer;
    content: "Save";
}