@tailwind base;
@tailwind components;
@tailwind utilities;

li:has(a.active) {
    background-color: #383533;
}

#postsContainer {
    border-image: linear-gradient(to top, rgba(0,0,0,0) 5%, var(--secondary), rgba(0,0,0,0) 95%) 1;
    border-left: solid;
    border-right: solid;
}

#gradient {
    background-image: linear-gradient(to top, rgba(0,0,0,0) 5%, var(--secondary), rgba(0,0,0,0) 95%) 1;
    z-index: -1;
}

:root {
    --primary: #FFFAFF;
    --secondary: #423E3B;
    --accent: #8367C7;
}