{% extends "base.html" %} {% block content %}
<h1 class="text-5xl">About us</h1>
<br /><br />
<div class="outline rounded bg-blue-400 p-5">
    <div class="outline rounded bg-accent p-5">
        <p class="px-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam
            placerat mi a malesuada. Nullam malesuada diam et nibh blandit sagittis.
            Aliquam sed tellus luctus mi consectetur consequat vel et diam. Integer
            nec ultricies leo. Fusce ultricies lacinia sollicitudin. Praesent at
            diam velit. In vitae justo viverra, consequat nisl pulvinar, sagittis
            eros. Maecenas ac iaculis sem.
            <br />
            <br />
            Nam placerat semper augue non eleifend. Duis quam mi, mollis nec
            tincidunt eu, finibus ac elit. Maecenas ut lacus eu purus eleifend
            rhoncus. Vestibulum nunc dolor, sodales nec dignissim in, viverra vitae
            nibh. Mauris ac mollis risus. Sed sed vestibulum mi, nec pellentesque
            ligula. Maecenas eget arcu eu purus mattis fringilla a quis ante.
            Integer et lorem velit. In tristique metus dolor, vitae feugiat tellus
            accumsan a. Duis urna diam, pharetra nec varius nec, venenatis nec
            augue. Aliquam erat volutpat. Donec tempor magna eu ipsum tincidunt,
            vitae convallis justo pretium.
            <br />
            <br />
            Quisque et blandit mauris, eget condimentum orci. Nunc sit amet ligula
            metus. Curabitur feugiat velit nulla. Sed sagittis fermentum erat, in
            placerat sem ullamcorper ac. Suspendisse sollicitudin viverra vehicula.
            Vivamus facilisis tellus eu tellus lobortis, rhoncus venenatis ligula
            varius. Nam pulvinar iaculis dapibus. Duis vel dui sollicitudin,
            tristique justo bibendum, egestas mauris. Pellentesque laoreet arcu ac
            quam tincidunt suscipit. Sed gravida porttitor nisi, non commodo turpis
            aliquet id. Nam pharetra ultricies bibendum. Integer rhoncus eget ipsum
            quis dignissim. Donec at volutpat urna. Cras lacinia orci vel libero
            imperdiet vehicula. Nam lobortis ligula non egestas imperdiet.
        </p>
    </div>
</div>
{% endblock %}
