{% extends "base.html" %} {% block content %}
<h1 class="text-5xl">About us</h1>
<br /><br />
<div class="outline rounded bg-accent p-5">
    <h1>W.I.N.S.T.O.N.&trade;</h1>
    <br />
    <p>Between 2022 and 2023, Winston came into being...</p>
    <br>
    <p><b>And it was all thanks to these 3 boys:</b></p>
    <br>
    <h2>Sam - The Brawn</h2>
    <p>The one to first come up with the idea of Winston</p>
    <br>
    <h2>Morgan - The Brain</h2>
    <p>The one who gave Winston the ability to see</p>
    <br>
    <h2>Josh - The Nervous System</h2>
    <p>The one who created the public web interface for Winston</p>
</div>
{% endblock %}
