{% extends "base.html" %} {% block content %}
<h1 class="text-5xl">About us</h1>
<br /><br />
<div class="outline rounded bg-accent p-5">
    <h1>W.I.N.S.T.O.N.&trade;</h1>
    <br />
    <p>Between 2022 and 2023, Winston came into being...</p>
    <br />
    <p><b>And it was all thanks to these 3 epic cool guys:</b></p>
    <br />
    <h2>Sam - The Brawn</h2>
    <h4>Favourite Emoji: ⭕</h4>
    <p>
        The one to first come up with the idea of Winston. Octopusessssss are cool imo. Capybaras tho, now those are epic...
    </p>
    <br />
    <h2>Morgan - The Brain</h2>
    <h4>Favourite Emoji: 😍</h4>
    <p>
        The one who gave Winston the ability to see. Well it can kind of see. I need to learn convolutional neural networks. Truly the big sad.
    </p>
    <br />
    <h2>Josh - The Other One</h2>
    <h4>Favourite Emoji: 🙃</h4>
    <p>
        The one who created the public web interface for Winston. I spend too much time on things I shouldn't, but hey, I've got this to show for it!
    </p>
</div>
{% endblock %}
