<!DOCTYPE html>
<html lang="en">
    <!-- Using Jinja templating so that you can use variables and code through flask's rendering of template -->
    <head>
        {% if title %}
        <title>{{ title }} - W.I.N.S.T.O.N.</title>
        {% else %}
        <title>W.I.N.S.T.O.N. the Robot Dog!</title>
        {% endif %}
        <!-- Link to stylesheets, css and tailwind -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
        {% block meta %}
        <meta name="title" content="Winstogram" />
        <meta
            name="description"
            content="A website centered around a robot dog called W.I.N.S.T.O.N."
        />
        {% endblock %}
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='dist/css/output.css') }}"
        />
        <script src="{{ url_for('static',filename='src/hamburger.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/lib/momentjs.js') }}"></script>
        {% block scripts %} {% endblock %}
    </head>

    <!-- Tailwind css setting background colours and flexboxes -->
    <body class="bg-primary">
        <div class="navbar bg-secondary">
            <div class="md:hidden h-16">
                <a href="/" class="inline-block w-auto">
                    <img
                        class="p-5 max-h-16"
                        src="{{ url_for('static', filename='images/logo.png') }}"
                        alt="W.I.N.S.T.O.N. the Robot Dog"
                    />
                </a>
                <div id="hamburger" class="w-auto float-right">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="w-8 py-4 mx-5 h-full float-right cursor-pointer"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="white"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"
                        />
                    </svg>
                </div>
            </div>
        </div>
        <div
            class="justify-start bg-lightSecondary hidden md:flex w-full md:bg-secondary"
            id="navbar"
        >
            <a href="/">
                <img
                    class="p-5 max-h-16 hidden md:block"
                    src="{{ url_for('static', filename='images/logo.png') }}"
                    alt="W.I.N.S.T.O.N. the Robot Dog"
                />
            </a>
            <a href="/">
                <p
                    class="p-5 text-white {{ 'active' if request.path in [url_for('index'), '/'] else '' }}"
                >
                    Home
                </p>
            </a>
            <a href="{{ url_for('stream') }}">
                <p
                    class="p-5 text-white {{ 'active' if request.path == url_for('stream') else '' }}"
                >
                    Stream
                </p>
            </a>
            <a href="{{ url_for('winstogram') }}">
                <p
                    class="p-5 text-white {{ 'active' if request.path == url_for('winstogram') else '' }}"
                >
                    Winstogram
                </p>
            </a>
            <a href="{{ url_for('about') }}">
                <p
                    class="p-5 text-white {{ 'active' if request.path == url_for('about') else '' }}"
                >
                    About us
                </p>
            </a>
            {% if current_user.is_active %} {% if current_user.admin %}
            <a href="{{ url_for('admin') }}">
                <p
                    class="p-5 text-white {{ 'active' if request.path == url_for('admin') else '' }}"
                >
                    Admin
                </p>
            </a>
            {% endif %} {% endif %} {% if not current_user.is_active %}
            <a href="{{ url_for('login') }}" class="ml-auto">
                <p
                    class="p-5 text-white md:float-right {{ 'active' if request.path == url_for('login') else '' }}"
                >
                    Login
                </p>
            </a>
            {% else %}
            <div id="userDropdown" class="md:ml-auto">
                <a href="{{ url_for('user', id=current_user.id) }}">
                    <p
                        class="p-5 text-white w-3/4 inline-block md:w-auto md:text-right {{ 'active' if request.path == url_for('user', id=current_user.id) else '' }}"
                    >
                        {{ current_user.username }}
                    </p>
                </a>
                <form
                    method="post"
                    action="{{ url_for('logout') }}"
                    novalidate
                    class="float-right border-l-2 w-1/4 border-secondary"
                >
                    <button
                        type="submit"
                        class="p-5 bg-secondary text-white md:hidden text-center w-full"
                    >
                        Logout
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="w-full flex absolute">
            <div id="userDropdownContent" class="bg-lightSecondary ml-auto hidden">
                <form method="post" action="{{ url_for('logout') }}" novalidate>
                    <button typ="submit" class="py-2 px-5 text-white">
                        Logout
                    </button>
                </form>
            </div>
        </div>

        <!-- Inset div to hold content, keeping consistent across pages -->
        <div class="px-10 py-5 max-h-[calc(100%-64px)]">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li class="text-3xl">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <br />
            {% block content %}{% endblock %}
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                
                const dropdownContent = document.getElementById('userDropdownContent');
                const dropdown = document.getElementById('userDropdown');

                dropdown?.addEventListener('mouseenter', () => {
                        dropdownContent.classList.add('md:block');
                    });
                dropdownContent?.addEventListener('mouseenter', () => {
                        dropdownContent.classList.add('md:block');
                    });
                dropdown?.addEventListener('mouseleave', () => {
                        dropdownContent
                            .classList.remove('md:block');
                    });
                dropdownContent?.addEventListener('mouseleave', () => {
                        dropdownContent.classList.remove('md:block');
                    });
            });
        </script>
    </body>
</html>
