<html>

<head>
    {% if title %}
    <title>{{ title }} - W.I.N.S.T.O.N.</title>
    {% else %}
    <title>W.I.N.S.T.O.N. the Robot Dog!</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/output.css') }}">
</head>

<body class="bg-[var(--primary)]">
    <ul class="flex bg-[var(--secondary)]">
        <li class="">
            <a href="{{ url_for('index') }}"
                class="p-5 block lg:inline-block text-white {{ 'active' if request.path == url_for('index') else '' }}">Home</a>
        </li>
        <li class="">
            <a href="{{ url_for('stream') }}"
                class="p-5 block lg:inline-block text-white  {{ 'active' if request.path == url_for('stream') else '' }}">Stream</a>
        </li>
        <li class="">
            <a href="{{ url_for('winstogram') }}"
                class="p-5 block lg:inline-block text-white  {{ 'active' if request.path == url_for('winstogram') else '' }}">Winstogram</a>
        </li>
        <li class="">
            <a href="{{ url_for('about') }}"
                class="p-5 block lg:inline-block text-white  {{ 'active' if request.path == url_for('about') else '' }}">About</a>
        </li>
    </ul>

    <div class="p-10">
        <br><br>
        {% block content %}{% endblock %}
    </div>

</body>

</html>