{% extends "base.html" %} {% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

{% endblock %} {% block content %}

<main>
    Collections
    <div id="listOfCollections"></div>
</main>
<script>

    document.addEventListener('DOMContentLoaded', async () => {
        const container = document.getElementById('listOfCollections');
        const collections = await getCollections('{{ current_user.id }}');
        addCollections(collections, container);
    });

    async function getCollections(userId) {
        collections = await fetch(`/api/user/collections/${userId}`)
        
        collections = await collections.json()

        return collections
    }

    function addCollections(collections, container) {
        collections.forEach(collection => {
            const div = document.createElement('div');
            div.innerHTML = `
                <div class="bg-accent outline p-5 rounded">
                    <h1>${collection.name}</h1>
                    <p>${collection.number_of_posts}</p>
                </div>
            `;
            container.append(div);
        });
    }
</script>
{% endblock %}
