{% extends "base.html" %} {% block scripts %} {% endblock %} {% block content %}

<form action="" method="post" class="" id="controller" novalidate>
    {{ form.hidden_tag() }}
    <p>
        <!-- This page has just an input and a submit button -->
        {{ form.controllerInput.label }}<br />
        {{ form.controllerInput(cols=10, id_="controlInput", class_="border
        border-black rounded w-full") }} {% for error in
        form.controllerInput.errors %}
        <span class="text-red-500">[{{error}}]</span>\ {% endfor %}
    </p>
    <br />
    <p>
        {{ form.submit(class_="border p-1 border-black rounded bg-accent px-5
        hover:cursor-pointer") }}
    </p>
</form>
<script>
    
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById("controller").addEventListener('submit', function (event) {
            // Don't reload on submit
            event.preventDefault();
            // Get input data
            const input = document.getElementById("controlInput").value;
            // Create post request to send data to server
            fetch("{{url_for('controller')}}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json;charset=UTF-8"
                },
                body: JSON.stringify({ data: input })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error(error));
        });
    });
</script>
{% endblock %}
