{% extends "base.html" %} 

{% block title %}Forgot Password{% endblock %}

{% block content %}
<h1 class="text-5xl">Forgot Password</h1>
<br />
<form action="" method="post" class="" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }} <br />
        {{ form.email(size=32, class_="border border-black rounded") }}
        {% for error in form.email.errors %}
        <span class="text-red-500">[{{error}}]</span>
        {% endfor %}
    </p>
    <br />
    <p>
        {{ form.submit(class_="border p-1 border-black rounded
        bg-accent") }}
    </p>
</form>
{% endblock %}