{% extends "base.html" %} {% block content %}

<style>
    :root {
        --banner-pos: 0%;
    }

    #banner {
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 100%;
        margin-bottom: 20px;
        object-fit: cover;
        object-position: 50% var(--banner-pos);
        transition: object-position 0.1s ease-out;
    }
</style>
<content>
    <img
        id="banner"
        class="border-gray-700 border-2"
        src="{{ url_for('static', filename='images/depth4.png') }}"
    />
    <br />
    <h1>Welcome to Winstogram!</h1>

    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et ligula vel ligula finibus vulputate. Phasellus quis purus at diam euismod suscipit. Suspendisse sit amet luctus nisi, quis pharetra leo. Sed consectetur, dolor ac aliquet scelerisque, turpis urna eleifend tellus, at viverra tortor justo et enim. Vivamus ultricies porta turpis. Curabitur ultrices, lorem sit amet eleifend semper, ante lacus consequat magna, a dictum sem nisi eu enim. Etiam finibus enim efficitur efficitur hendrerit. Suspendisse condimentum convallis lacinia. Ut in quam massa. Cras ac felis nec libero bibendum dignissim.

Suspendisse sodales tempus nibh sit amet lacinia. In venenatis tellus in ultricies cursus. Vivamus porttitor, justo vel vulputate porttitor, nibh mauris imperdiet ligula, in consequat nibh nisi in ligula. Pellentesque lacinia volutpat enim vitae molestie. In sed sapien tristique, lacinia ligula sit amet, faucibus elit. Maecenas quis nibh sapien. Mauris ut vehicula ex. Sed bibendum eros nisl, nec tincidunt mi vestibulum at. Sed ornare enim sit amet interdum tristique. Aliquam quis auctor est, eu luctus nulla.

Phasellus elit justo, porta in fringilla eget, finibus a purus. Proin pharetra mi mauris, ac rutrum nulla tempor non. Ut blandit nulla vel lacus vehicula mollis. Aliquam finibus enim a nunc dignissim vehicula. Nam congue quis enim in varius. Cras dictum nulla vel nisl imperdiet congue. In semper at dolor nec suscipit. Integer dapibus dictum lorem at ullamcorper. Nunc venenatis lacus at porttitor venenatis. Etiam imperdiet est mauris, sit amet consequat magna sollicitudin non. Sed nec est fermentum, luctus neque ut, sodales libero.

In vel turpis sit amet mi accumsan dictum. Nunc vestibulum mauris eu posuere euismod. Sed vel turpis sit amet nisi auctor fermentum. Vestibulum semper tortor justo, eu tempor lectus laoreet et. Suspendisse eget tincidunt felis. Quisque vel mauris ut mi pulvinar faucibus. Nunc consequat diam in purus commodo, at congue sapien consequat. Nulla quam orci, consectetur vel ipsum non, vestibulum finibus orci.

Phasellus ultricies est nec odio consequat pretium. Suspendisse sagittis risus sit amet elementum facilisis. Nullam aliquet mi id aliquet blandit. Donec eget faucibus tortor. Quisque id libero at lacus euismod suscipit. Sed dolor massa, placerat at odio eu, mollis tincidunt tortor. Fusce viverra sit amet libero ut luctus. Aliquam tempor magna non sagittis lacinia. 
    </p>
</content>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.addEventListener('scroll', (e) => {
            console.log('scroll to bottom');
            console.log(
                ((document.documentElement.scrollTop +
                    document.documentElement.clientHeight) /
                    document.documentElement.scrollHeight) *
                    100
            );
            document.documentElement.style.setProperty(
                '--banner-pos',
                `${
                    ((document.documentElement.scrollTop +
                        document.documentElement.clientHeight) /
                        document.documentElement.scrollHeight) *
                    100
                }%`
            );
        });
    });
</script>

{% endblock %}
