{% extends "base.html" %} {% block content %}
<h1 class="text-5xl">Sign In</h1>
<br />
<form action="" method="post" class="" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br />
        {{ form.username(size=32, class_="border border-black rounded") }} {%
        for error in form.username.errors %}
        <span class="text-red-500">[{{error}}]</span>
        {% endfor %}
    </p>
    <br />
    <p>
        {{ form.password.label }}<br />
        {{ form.password(size=32, class_="border border-black rounded") }} {%
        for error in form.password.errors %}
        <span class="text-red-500">[{{error}}]</span>
        {% endfor %}
    </p>
    <br />
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <br />
    <p>
        {{ form.submit(class_="border p-1 border-black rounded
        bg-accent") }}
    </p>
    <br />
    <p>
        New User?
        <a href="{{ url_for('register') }}" class="text-blue-400 underline"
            >Click to Register!</a
        >
    </p>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('forgot_password') }}" class="text-blue-400 underline">Click to Reset It</a>
    </p>
</form>
{% endblock %}
