{% extends "base.html" %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %} {% block content %}
<div class="w-full">
    <div class="lg:w-[60rem] xl:w-[72rem] mx-auto outline rounded bg-main p-5">
        <div class="outline rounded bg-accent p-5" id="postContainer"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        await renderPost();
        const save = document.getElementById('save');
        if ('{{ current_user.is_active }}' !== 'True') {
            return;
        }

        if (await checkExistenceInCollections()) {
            save.classList.add('disabled');
            save.dataset.saved = 'true';
            save.textContent = 'Saved!';
            return;
        } else {
            save.dataset.saved = 'false';
            save.textContent = 'Save';
        }
        
        if (save.classList.contains('disabled') == false) {
            save.addEventListener('click', async function () {
                save.dataset.saving = 'true';
                save.textContent = 'Saving...';
                const time = new Date().getTime();
                await fetch("{{ url_for('save_post', id=id) }}", {
                    method: 'POST',
                });
                
                const time2 = new Date().getTime();
                if (time2 - time < 1000) {
                    await wait(1000 - (time2 - time));
                }
                
                save.classList.add('disabled');
                save.dataset.saved = 'true';
                save.textContent = 'Saved!';
                save.removeEventListener('click', this);
            });
        }
    });

    async function renderPost() {
        const post = await getPost(parseInt('{{ id }}'));
        const body = marked.parse(post.body, {
            mangle: false,
            headerIds: false,
        });
        const template = `
            <div id="header">
                <h2 class="text-4xl">
                    <b>${post.header}</b>
                    <i class="text-2xl"
                        >by
                        <a
                            href="{{ url_for('user', id=authorid)}}"
                            class="underline"
                            >${post.username}</a
                        ></i
                    >
                    <br>
                    <i class="opacity-50 text-xl" id="saveButton">
                        <button id="save"></button>
                    </i>
                </h2>
            </div>
            <br />
            <div class="px-4" id="body">
                {% autoescape false %} ${marked.parse(post.body, {
                    mangle: false,
                    headerIds: false,
                })} {% endautoescape %}
            </div>`
        const postContainer = document.getElementById('postContainer');
        postContainer.innerHTML = template;
    }

    async function checkExistenceInCollections() {
        fetched = await fetch(
            '{{ url_for("api_check_existence_in_collections", id=id) }}'
        ).then((res) => res.json());
        return fetched.response;
    }

    async function getPost(id) {
        fetched = await fetch('{{ url_for("api_post", id=id) }}').then((res) =>
            res.json()
        );
        return fetched;
    }

    const wait = (ms) => new Promise((resolve) => setTimeout(resolve, ms));
</script>

{% endblock %}
