{% extends "base.html" %} {% block content %}
<h1 id="pageHeading" class="text-5xl">Winstogram!</h1>
<br />
<table id="postsContainer" class="max-h-[calc(70%)] min-w-full">
    <tr>
        <td
            id="postsFormContainer"
            class="w-1/3 h-full border-r-black border-r-2 px-10 align-top"
        >
            <br /><br />
            {% if current_user.is_active %}
            <form
                id="newPostForm"
                action=""
                method="post"
                autocomplete="off"
                novalidate
            >
                {{ form.hidden_tag() }}
                <p>
                    {{ form.subject.label }}<br />
                    {{ form.subject(size=50, class_="border border-black
                    rounded") }} {% for error in form.subject.errors %}
                    <span class="text-red-500">[{{error}}]</span>
                    {% endfor %}
                </p>
                <br />
                <p>
                    {{ form.body.label }}<br />
                    {{ form.body(cols=52, rows=10, class_="border border-black
                    rounded") }} {% for error in form.body.errors %}
                    <span class="text-red-500">[{{error}}]</span>
                    {% endfor %}
                </p>
                <br />
                <p>
                    {{ form.submit(class_="border p-1 border-black rounded
                    bg-primary") }}
                </p>
            </form>
            {% endif %}
        </td>
        <td
            id="postsListContainer"
            class="max-w-3/4 overflow-y-scroll align-top px-10"
        >
            {% for post in posts %}
            <div
                id="postContainer"
                class="rounded-md border-2 border-gray-300 flex"
            >
                <table class="w-full">
                    <tr>
                        <!-- Image placement -->
                        {% if post.image %}
                        <td id="postImageContainer">
                            <img
                                id="postImage"
                                class="max-h-16 max-w-16 w-max"
                                src="{{ post.image }}"
                            />
                        </td>
                        {% endif %}
                        <th id="postHeaderContainer" class="">
                            <div id="postHeader" class="text-lg text-left">
                                {% autoescape false %} {{ post.header }} {%
                                endautoescape %}
                            </div>
                        </th>
                        <th
                            colspan=""
                            class="float-right text-right pr-3 cursor-pointer"
                        >   
                        <!-- If the user is logged in -> If the user has a collection -> If the collection doesn't have the post in it -->
                            {% if current_user.is_active %} {% if
                            current_user.collections.first() %} {% if not
                            current_user.collections.first().posts.filter_by(id=post.id).first()
                            %}
                            <button name="save-button" id="{{ post.id }}"></button>
                            {% endif %} {% endif %} {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <td id="postBodyContainer">
                            <div
                                id="postBody"
                                class="text-md"
                                style="overflow-wrap: break-word"
                            >
                                <p>
                                    {% autoescape false %} {{ post.body }}
                                    {%endautoescape %}
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            {% endfor %}
        </td>
    </tr>
</table>

{% endblock %}
