{% extends "base.html" %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %} {% block content %}

<main
    class="grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2 md:gap-4 md:h-[calc(100vh-9rem)] sm:p-5 hidden"
>
    {% if current_user.is_active %}
    <div class="col-span-1 bg-accent outline p-5 rounded" id="form">
        <form
            id="newPostForm"
            action=""
            method="post"
            autocomplete="off"
            novalidate
        >
            {{ form.hidden_tag() }}
            <p>
                {{ form.subject.label }}<br />
                {{ form.subject(size=40, class_="px-1 border border-black
                rounded w-full") }} {% for error in form.subject.errors %}
                <br />
                <span class="text-black"><b>[{{error}}]</b></span>
                {% endfor %}
            </p>
            <br />
            <p>
                {{ form.body.label }}<br />
                {{ form.body(cols=42, rows=10, class_="px-1 border border-black
                rounded w-full") }} {% for error in form.body.errors %}
                <br />
                <span class="text-black"><b>[{{error}}]</b></span>
                {% endfor %}
            </p>
            <br />
            <p class="text-center md:text-start">
                {{ form.submit(class_="border p-1 border-black rounded bg-accent
                w-full md:w-auto") }}
            </p>
        </form>
    </div>
    {% endif %}

    <div
        class="{{ 'col-span-full' if not current_user.is_active else 'sm:col-span-2 md:col-span-2 lg:col-span-3 xl:col-span-4' }} bg-accent overflow-y-auto outline p-5 rounded"
        id="postsContainer"
    ></div>
</main>

<script>
    var posts;
    document.addEventListener('DOMContentLoaded', async () => {
        const container = document.getElementById('postsContainer');

        posts = await getLatestPosts();

        addPosts(posts, container);

        container.addEventListener('scroll', async () => {
            if (
                Math.round(container.scrollTop + container.clientHeight) >=
                container.scrollHeight
            ) {
                var newPosts = await loadPreviousPosts(
                    posts[posts.length - 1].id
                );

                posts.push(...newPosts);

                addPosts(newPosts, container);
            }
        });

        main = document.getElementsByTagName('main')[0];
        main.classList.remove('hidden');
        main.classList.add('grid');

        while (container.scrollHeight <= container.clientHeight) {
            var newPosts = await loadPreviousPosts(posts[posts.length - 1].id);

            if (newPosts.length == 0) {
                break;
            }

            posts.push(...newPosts);

            addPosts(newPosts, container);
        }

        window.addEventListener('scroll', async () => {
            // if the user is at the bottom of the page
            if (
                window.innerHeight + window.scrollY >=
                document.body.offsetHeight
            ) {
                var newPosts = await loadPreviousPosts(
                    posts[posts.length - 1].id
                );

                posts.push(...newPosts);

                addPosts(newPosts, container);
            }
        });
    });

    async function getLatestPosts() {
        const response = await fetch("{{ url_for('api_latest_posts') }}");
        const posts = await response.json();
        return posts;
    }

    async function loadPreviousPosts(before) {
        const response = await fetch(
            `{{ url_for('api_latest_posts') }}?before=${before}`
        );
        const posts = await response.json();
        return posts;
    }

    // add posts to the page fucntion
    function addPosts(posts, container) {
        for (post of posts) {
            a = document.createElement('a');
            a.href = `{{ url_for('winstogram')}}/${post.id}`;

            div = document.createElement('div');
            div.className = 'outline bg-accent rounded p-5';
            div.id = post.id;

            header = document.createElement('div');
            header.className = 'truncate';
            header.id = 'header';
            header.innerHTML = `<b>${post.header}</b><br /><i>by ${
                post.username
            } ${moment(post.timestamp).fromNow()}</i>`;
            div.appendChild(header);

            body = document.createElement('div');
            body.className = 'px-4 truncate';
            body.id = 'body';
            body.innerHTML = marked.parse(
                post.body.replaceAll('\n', ' ').replaceAll('![', '! ['),
                {
                    mangle: false,
                    headerIds: false,
                }
            );
            div.appendChild(body);

            a.appendChild(div);

            container.appendChild(a);

            br = document.createElement('br');

            container.appendChild(br);
        }
    }
</script>

{% endblock %}
