{% extends "base.html" %} {% block content %}

<h1 class="text-5xl">Winstogram!</h1>

<br>

<table id="postsContainer" class="h-[calc(100%-100px)]">
  <tr id="" class="">
    <td id="postsForm" class="w-1/4 h-full border-r-black border-r-2 px-10 align-top">
      <br><br>
      <form action="" method="post" class="" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.subject.label }}<br />
          {{ form.subject(size=64, class_="border border-black rounded") }} {% for
          error in form.subject.errors %}
          <span class="text-red-500">[{{error}}]</span>
          {% endfor %}
        </p>
        <br>
        <p>
          {{ form.body.label }}<br />
          {{ form.body(cols=66, rows=20, class_="border border-black rounded") }} {% for
          error in form.body.errors %}
          <span class="text-red-500">[{{error}}]</span>
          {% endfor %}
        </p>
        <br>
        <p>
          {{ form.submit(class_="border p-1 border-black rounded
          bg-[var(--primary)]") }}
        </p>
      </form>
    </td>
    <td id="posts" class="overflow-y-scroll align-top px-10">
      {% for post in posts %}
      <div id="post" class="rounded-md border-2 border-gray-300 flex">
        <table>
          <tr>
            {% if post.image %}
            <td>
              <img class="max-h-16 max-w-16 w-max" src="{{ post.image }}" />
            </td>
            {% endif %}
            <td class="float-left">
              <div>
                <div class="text-lg">
                  <b>{{ post.header }}</b>
                </div>
                <div class="text-md">{{ post.body }}</div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <br />
      {% endfor %}
    </div>
    </td>
  </tr>
</table>

{% endblock %}
