{% extends "base.html" %}

{% block content %}
    <h1 class="text-5xl">Register</h1>
    <br>
    <form action="" method="post" class="" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32, class_="border border-black rounded") }}
            {% for error in form.username.errors %}
                <span class="text-red-500">[{{error}}]</span>
            {% endfor %}
        </p>
        <br>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32, class_="border border-black rounded") }}
            {% for error in form.email.errors %}
                <span class="text-red-500">[{{error}}]</span>
            {% endfor %}
        </p>
        <br>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, class_="border border-black rounded") }}
            {% for error in form.password.errors %}
                <span class="text-red-500">[{{error}}]</span>
            {% endfor %}
        </p>
        <br>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32, class_="border border-black rounded") }}
            {% for error in form.password2.errors %}
                <span class="text-red-500">[{{error}}]</span>
            {% endfor %}
        </p>
        <br>
        <br>
        <p>{{ form.submit(class_="border p-1 border-black rounded bg-accent") }}</p>
    </form>
{% endblock %}