{% extends "base.html" %}{% block content %}

<h1>TEST</h1>

<br />
<br />
<br />

<style>

    /* Modal Scrollbar Deactivated */
    #modalContent::-webkit-scrollbar {
        display: none;
    }

    /* Overflow-y will create a 'scrollbar' which will be invisible */
    #modalContent {
        overflow-y: auto;
    }

    /* Define background with transition */
    #modalBackground {
        position: absolute;
        background-color: rgba(79, 75, 73, 0);
        inset: 0;
        height: 100%;
        pointer-events: none;
        transition: background-color 0.5s ease-in-out;
    }

    /* Define front face of modal with transition */
    #modalFront {
        position: absolute;
        height: 32rem;
        max-height: 90%;
        width: 24rem;
        max-width: 90%;
        left: 50%;
        top: -100%;
        transform: translate(-50%, 0);
        background-color: rgb(249, 249, 249);
        border-radius: 10px;
        border: 2px solid black;
        transition: top 0.7s ease-in-out, opacity 0.7s ease-in-out, left 0.7s ease-in-out, transform 0.7s ease-in-out;
        opacity: 0%;
    }

    /* Define change in background when it becomes active */
    #modalBackground.active {
        background-color: rgba(79, 75, 73, 0.3);
        pointer-events: all;
    }
    
    /* Define change in front face when it becomes active */
    #modalFront.active {
        top: calc(50% - 20rem);
        opacity: 100%;
    }

    /* Define the style of the modal when the screen is a particular size */
    @media screen and (max-width: 768px) {
        
        #modalFront.active {
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 100%;
        }

    }

</style>

<h1>Modal</h1>

<br />

<button
    onclick="toggleModal()"
    class="border-2 border-black rounded px-2 bg-tertiary"
>
    Activate Modal
</button>

<!-- Modal background -->
<div id="modalBackground" onclick="closeModal(event)">
    <!-- Front facing part of the modal -->
    <div id="modalFront">

        <!-- Header -->
        <div id="modalHeader" class="p-5 w-full">

            <h1 class="w-min inline-block">Modal</h1>

            <button onclick="toggleModal()" class="inline-block text-right float-right p-2 rounded bg-red-500 border-red-700 border-2 text-white">
                X
            </button>
        
        </div>

        <!-- Content -->
        <div id="modalContent" class="py-5 px-8 justify-evenly h-auto">
            <div>
                <!-- Fields -->
                <label for="new_value"> <b> Value </b> </label>
                <input
                type="text"
                name="new_value"
                id="new_value"
                placeholder="Value"
                class="border-2 p-1 border-black rounded block w-full"
                />
            </div>
            <br>
            <div>
                <!-- Fields -->
                <label for="textbox"> <b> box o' text </b> </label>
                <br>
                <textarea name="textbox" id="textbox" class="border-2 border-black rounded resize-none block w-full" rows="5"></textarea>
            </div>
            <br>
            <div>
                <!-- Fields -->
                <input
                type="submit"
                name="submit"
                id="submit"
                value="Submit"
                class="border-2 p-1 border-black rounded block w-full bg-white hover:bg-gray-200"
                />
            </div>
            <br>
        </div>
    </div>
</div>

<script>
    // Activate both parts of the modal when toggled
    function toggleModal() {
        document.getElementById('modalBackground').classList.toggle('active');
        document.getElementById('modalFront').classList.toggle('active');
    }

    // On close modal, confirm that it is the modal you're targetting
    function closeModal(e) {
        if (e.target.id == 'modalBackground') {
            document
                .getElementById('modalBackground')
                .classList.toggle('active');
            document.getElementById('modalFront').classList.toggle('active');
        }
    }
</script>

{% endblock %}
