{% extends "base.html" %} {% block meta %}
<meta name="title" content="{{ user.username }}'s Profile" />
<meta name="description" content="The profile page of {{ user.username }}" />
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='dist/lib/markedjs.js') }}"></script>
{% endblock %} {% block content %}

<main
    class="px-2 sm:px-5 lg:space-x-10 justify-around space-y-10 lg:space-y-0 flex-row flex-wrap md:h-[calc(100vh-9rem)] hidden"
>
    <div
        id="userInfo"
        class="outline w-full lg:w-2/5 flex flex-wrap content-start rounded-md bg-accent"
    >
        <img
            id="avatar"
            class="m-5 w-[128px] h-[128px] outline rounded-full mx-auto"
        />

        <div id="userMeta" class="sm:w-1/2 m-5 h-min">
            <p class="text-center sm:text-left underline">
                <b id="username"></b>
            </p>
            <br />
            <p>Joined <span id="time_created"></span></p>
        </div>
        <p class="w-full m-5"><span id="bio"></span></p>
    </div>

    <div
        id="userPosts"
        class="outline w-full lg:w-1/2 overflow-y-scroll h-full rounded-md bg-accent"
    >
        <p class="mt-5 mx-5"><b>Posts</b></p>
        <div id="posts" class="flex flex-wrap lg:w-full"></div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const avatar = document.getElementById('avatar');
        const username = document.getElementById('username');
        const time_created = document.getElementById('time_created');
        const bio = document.getElementById('bio');

        const user = await getUser('{{ user }}');

        username.innerHTML = user.username;
        time_created.innerHTML = user.time_created;
        
        if (user.bio != null) {
            bio.innerHTML = user.bio.replaceAll('\n', '<br />');;
        } else {
            bio.innerHTML = 'No bio';
        }

        avatar.src = user.avatar;

        posts = await user.posts;

        if (posts.length == 0) {
            const posts = document.getElementById('posts');
            const p = document.createElement('p');
            p.className = 'text-center w-full';
            p.innerHTML = 'No posts';
            posts.appendChild(p);
        }

        posts.reverse().forEach((post) => {
            a = document.createElement('a');
            a.id = post.id;
            a.href = `{{ url_for('winstogram')}}/${post.id}`;
            a.className =
                'min-w-[calc(100%-2.5rem)] max-w-[calc(100%-2.5rem)] mx-5 my-3 p-2 outline w-full rounded-md bg-accent';

            header = document.createElement('span');
            header.id = 'header';
            header.className = 'truncate block';
            header.innerHTML = `<b>${post.header}</b>`;
            a.appendChild(header);

            author = document.createElement('span');
            author.id = 'author';
            author.className = 'truncate block';
            author.innerHTML = `<i>by ${post.username} ${moment(
                post.timestamp
            ).fromNow()}</i>`;
            a.appendChild(author);

            body = document.createElement('span');
            body.id = 'body';
            body.className = 'truncate block';
            body.innerHTML = marked.parse(post.body.replaceAll('\n', ' '), {
                mangle: false,
                headerIds: false,
            });
            a.appendChild(body);

            document.getElementById('posts').appendChild(a);
        });

        const main = document.getElementsByTagName('main').item(0);
        main.classList.remove('hidden');
        main.classList.add('flex');

        if (user.username == '{{ current_user.username }}') {
            var edit_profile = document.createElement('a');
            edit_profile.href = `{{ url_for('edit_profile') }}`;
            edit_profile.className =
                'border p-1 border-black rounded bg-tertiary px-5 hover:cursor-pointer';
            edit_profile.innerText = 'Edit Profile';

            var br = document.createElement('br');

            document.getElementById('userMeta').appendChild(br);
            document.getElementById('userMeta').appendChild(edit_profile);
        }
    });

    async function getUser(id) {
        const response = await fetch(`/api/users/${id}`);
        const user = await response.json();
        return user;
    }
</script>

{% endblock %}
